.pageContainer label{
    margin-right: 5px;
    font-size: 20px;
}

.formBtnSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dateForm input{
    margin-top: 18px;
}    

.MuiInputBase-root-32{
    margin-bottom: 15px;
}

.dateBtnSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}